* {
  box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
      color: midnightblue;
      text-align: left;
      font-weight: bold;
      font-size: 32px;
}

h2 {
  color: midnightblue;
  font-size: 24px;
}

h3 {
  color: midnightblue;
  font-size: 22px;
}

h4 {
  color: blue;
  font-size: 18px;
}

h5 {
  color: green;
  text-align: left;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}

h6 {
  color: black;
  font-size: 8px;
}


p, li, a, span {
    font-size: 18px;
    list-style: none;
}

a {
  text-decoration: none;
}

.mainArea {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.topArea {
    width: 100%;
    height: 200px;
    text-align: center;
    clear: both;
}

#logo img {
    position: absolute;
    float:left;
    width: 260px;
    margin-top: 4px;
}

#contentArea {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1#headTitle {
    font-size: 72px;
    color: darkgreen;
}

.navArea, #nav{
    width: 100%;
    height: 55px;
    background-color: #113207;
    /*position: relative;*/
}

#navUl {
    list-style-type: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

 #nav ul li {
    display:inline;
}

#nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: white;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    top: 0;
    padding: 10px 20px;
}

.mobNav {
    position: fixed;
    right: -250px;
    top: 50px;
    overflow: hidden;
}

.mobNav ul li {
    display:block;
}

.mobNav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: white;
    float: left;
    margin-right: 10px;
    margin-right: 20px;
    top: 0;
    padding: 15px 25px;
    border: 3px solid lightgreen;
    background-color: #113207;
    width: 230px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.mobNavShow {
    right: 0;
}

#nav a:hover {
    border: solid 2px white;
    border-radius: 20px;
    color: #000;
    background-color: lightgreen;
}

#rightNav {
    float: right;
    display: inline;
    margin: 5px;
}

#leftNav {
    float: left;
    margin: 5px;
}

input[type = button] {
    margin: 10px;
}

.signup {
    border: 1px solid;
    border-color: black;
    background:linear-gradient(green,gray,white);
    padding:10px;
}

@keyframes slider {
    0% {
      left: 0;
    }
    20% {
      left: 0;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
    100% {
        left: -400%
    }
}

#slider {
  overflow: hidden;
}

#slider figure img {
  width: 20%;
  float: left;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slider infinite;
}

.article {
  float: left;
  margin: 5px;
  padding: 5px;
  position: relative;
  width: 300px;
  height: 480px;
  border: 1px solid black;
}

div.image {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.image:hover {
    border: 1px solid #777;
}

div.image img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

#hamburger {
  border: solid black 2px;
  width: 30px;
  height: 30px;
  float:right;
  position: absolute;
  top: 10px;
  right: 10px;
}

#hamburger img {
  width: 30px;
  height: 30px;
}

#closehamger {
  border: solid black 2px;
  width: 30px;
  height: 30px;
  float:right;
  position: absolute;
  top: 10px;
  right: 10px;
}

#closehamburger img {
  width: 30px;
  height: 30px;
}

#footer {
  clear: both;
}

.Accessibility {
    width: 90px;
    height: 30px;
    margin:auto;
    position: absolute;
    top: 10px;
    left: 300px;
    font-weight: bold;
    color: white;
    background-color: navy;
}

.buffer {
    width:100%;
    clear: both;
    height: 75px;
}

.boxed {
  border: 5px solid green;
  text-align: center;
  float: none;
  margin: 5px;
  padding: 5px;
  width: 420px;
  height: 300px;
}
