body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p, li, a {
  font-size: 14px;
}

a {
  text-decoration: none;
}

.mainArea {

    background-color: #E8C8BD;
    /*background-image: -moz-linear-gradient (#113207, #E8C8BD);*/
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%. from(#E8C8BD), to (#113207));*/
    background-image: -webkit-linear-gradient(#113207, #E8C8BD);
    background-image: -o-linear-gradient(#113207, #E8C8BD);

    height: 150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.topArea {
    width: 100%;
    height: 200px;
}


.topArea logo img {
  float:left;
  position:relative;
  bottom:100px;
}

#contentArea {
    text-align: center;
}

h1#headTitle {
    font-size: 72px;
    color: darkgreen;
    float: right;
}

.navArea nav{
    width: 100%;
    height: 40px;
    background-color: #113207;
    margin: 5px;
    position: relative;
    bottom: 17px;
    right: 5px;
}

#navUl {
    list-style-type: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navArea nav ul li {
  display:inline;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: white;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

#rightNav {
    float: right;
    display: inline;
}

#leftNav {
    float: left;
}

input[type = button]{
 margin: 10px;
}

.signup {
  border:1px solid;
  border-color:black;
  background:linear-gradient(green,gray,white);
  padding:10px;
}
