.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: solid black 1px;*/
}

/* For mobile phones: */
@media only screen and (min-width: 0) {
    [class*="col-"] {
        width: 100%;
    }
    #nav {
      display:none;
    }
    #hamburger {
      display: block;
    }
}

@media only screen and (min-width: 640px) {
    /* For tablets: */
    .col-sm-1 { width: 8.3333333333%; }
    .col-sm-2 { width: 16.6666666667%; }
    .col-sm-3 { width: 25%; }
    .col-sm-4 { width: 33.3333333333%; }
    .col-sm-5 { width: 41.6666666667%; }
    .col-sm-6 { width: 50%; }
    .col-sm-7 { width: 58.3333333333%; }
    .col-sm-8 { width: 66.6666666667%; }
    .col-sm-9 { width: 75%; }
    .col-sm-10 { width: 83.3333333333%; }
    .col-sm-11 { width: 91.6666666667%; }
    .col-sm-12 { width: 100%; }

    .col-offset-sm-1{margin-left:8.3333333333%}
    .col-offset-sm-2{margin-left:16.6666666667%}
    .col-offset-sm-3{margin-left:25%}
    .col-offset-sm-4{margin-left:33.3333333333%}
    .col-offset-sm-5{margin-left:41.6666666667%}
    .col-offset-sm-6{margin-left:50%}
    .col-offset-sm-7{margin-left:58.3333333333%}
    .col-offset-sm-8{margin-left:66.6666666667%}
    .col-offset-sm-9{margin-left:75%}
    .col-offset-sm-10{margin-left:83.3333333333%}
    .col-offset-sm-11{margin-left:91.6666666667%}
    .col-offset-sm-12{margin-left:100%}
}
@media only screen and (min-width: 1060px) {
    /* For Laptops and Desktops: */
    .col-md-1 { width: 8.3333333333%; }
    .col-md-2 { width: 16.6666666667%; }
    .col-md-3 { width: 25%; }
    .col-md-4 { width: 33.3333333333%; }
    .col-md-5 { width: 41.6666666667%; }
    .col-md-6 { width: 50%; }
    .col-md-7 { width: 58.3333333333%; }
    .col-md-8 { width: 66.6666666667%; }
    .col-md-9 { width: 75%; }
    .col-md-10 { width: 83.3333333333%; }
    .col-md-11 { width: 91.6666666667%; }
    .col-md-12 { width: 100%; }

    .col-offset-md-1{margin-left:8.3333333333%}
    .col-offset-md-2{margin-left:16.6666666667%}
    .col-offset-md-3{margin-left:25%}
    .col-offset-md-4{margin-left:33.3333333333%}
    .col-offset-md-5{margin-left:41.6666666667%}
    .col-offset-md-6{margin-left:50%}
    .col-offset-md-7{margin-left:58.3333333333%}
    .col-offset-md-8{margin-left:66.6666666667%}
    .col-offset-md-9{margin-left:75%}
    .col-offset-md-10{margin-left:83.3333333333%}
    .col-offset-md-11{margin-left:91.6666666667%}
    .col-offset-md-12{margin-left:100%}

    #nav  {
      display: block;
    }

    #hamburger {
      display: none;
    }
  }

@media only screen and (min-width: 1280px) {
    /* For Large Resolution Displays, still looks good on 4k: */
    .col-lg-1 { width: 8.3333333333%; }
    .col-lg-2 { width: 16.6666666667%; }
    .col-lg-3 { width: 25%; }
    .col-lg-4 { width: 33.3333333333%; }
    .col-lg-5 { width: 41.6666666667%; }
    .col-lg-6 { width: 50%; }
    .col-lg-7 { width: 58.3333333333%; }
    .col-lg-8 { width: 66.6666666667%; }
    .col-lg-9 { width: 75%; }
    .col-lg-10 { width: 83.3333333333%; }
    .col-lg-11 { width: 91.6666666667%; }
    .col-lg-12 { width: 100%; }

    .col-offset-lg-1{margin-left:8.3333333333%}
    .col-offset-lg-2{margin-left:16.6666666667%}
    .col-offset-lg-3{margin-left:25%}
    .col-offset-lg-4{margin-left:33.3333333333%}
    .col-offset-lg-5{margin-left:41.6666666667%}
    .col-offset-lg-6{margin-left:50%}
    .col-offset-lg-7{margin-left:58.3333333333%}
    .col-offset-lg-8{margin-left:66.6666666667%}
    .col-offset-lg-9{margin-left:75%}
    .col-offset-lg-10{margin-left:83.3333333333%}
    .col-offset-lg-11{margin-left:91.6666666667%}
    .col-offset-lg-12{margin-left:100%}
}
